<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://nb.baidupcs.com/file/732faf6255827ed65707ee98108b212b?bkt=p2-nb-788&fid=2268363338-250528-70159102609515&time=1417145788&sign=FDTAXERLB-DCb740ccc5511e5e8fedcff06b081203-CpyBqw%2BUlMoTW0NnKpMQjV%2Fh5Nc%3D&to=nbb&fm=Nin,B,T,t&newver=1&newfm=1&flow_ver=3&sl=81723458&expires=8h&rt=sh&r=331851292&mlogid=1297990457&vuk=2268363338&vbdid=2849892104&fin=Wallet.ipa&fn=Wallet.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.boen.xifu</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Wallet</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
